html{
    /* height: 100vh;     */
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100%;
    /* height: 100vh; */
}

.header {
    display: block;
    padding: 1rem;
    text-align: center;
    color: #fff;
    background-color: #2a3c8c;
    font-size: xx-large;
    font-weight: 600;
}

main {
    text-align: center;
    margin: 25px;
}


#home{
    height: 100%;

    /* height: 80vh; */
    margin: 100px;
}


.home__subheading{
    margin: 20px 0;
    font-size: x-large;
    font-weight: 600;
}
.box {
    border: solid;
    border-width: 8px;
    border-color: #2a3c8c;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    margin: 10px 0;
    text-align: center;
}

.subheading {
    font-size: x-large;
    margin: auto 0;
    font-weight: 600;
}


.start-button{
    font-size: x-large;
    margin: 20px;
    padding: 10px;
    font-weight: 600;
}











.quiz__head{
    display: flex;
    
    justify-content: space-between;
}

.q-rate{
    margin: auto 0;
    font-size: 80%;
}
.q-rate-number{
    font-size: large;
    color: #2a3c8c;
    font-weight: 700;
}

.quiz__body{

    font-family: 'Noto Serif JP', serif;

    text-align: left;
    margin: 10px;
}

.quiz__q-text{
    padding: 10px;
    border: 1px dashed #2a3c8c;
    border-left: 30px solid #2a3c8c;
}

.quiz__q-text::before{
    font-family: 'Raleway', sans-serif;

    color: white;
    position: relative;
    display: inline-block;
    /* margin-right: 7px; */
    top: -1px;
    left: -31.1px;
    content: "Q";
}
    /* margin: auto; */
    /* padding: 5px; */
    /* border: 1px solid #2a3c8c; */
    /* border-radius: 5px; */

.quiz__a{
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #8c2a60;
    border-right: 30px solid #8c2a60;
    text-indent:1em;
}

.quiz__a::before{
    font-family: 'Raleway', sans-serif;
    color: white;
    position: absolute;
    display: inline-block;
    margin-left: 7px;
    /* top: -1px; */
    right: 72px;
    content: "A";

}

.quiz__a-description{
    margin: 15px 0px 0 0px;
    padding: 5px;
    font-size: small;
    border-top: 3px solid #aaaaaa;
    text-indent:0;
}

.btn{
    border: 1px solid #2a3c8c;
    cursor: pointer;
    /* transform: 0.3s; */

}

.btn:hover{
    color: #fff;
    background-color: #2a3c8c;

}
.quiz__show-answer{
    margin: 5px 10px;
    padding: 10px 0;
    font-size: large;

}

.quiz__check{

    display: flex;
    justify-content: space-between;

}

.quiz__check-button{
    width: 45%;
    margin: 5px 10px;
    font-size: large;
    padding: 10px 10%;
}